* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.nav-bar {
  height: 100px;
  border-bottom: 5px solid black;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p,
h1.title {
  margin: 12px;
  text-align: left;
}

.text-center {
  text-align: center;
  justify-content: cent5r;
}

.hidden {
  display: none;
}

.logo {
  width: 80px;
}

i.material-icons {
  display: none;
}

.nav-links>li>a {
  text-decoration: none;
  color: #000;

}

.nav-links>li {
  list-style: none;
  margin: 12px;
  font-weight: bold;
  font-size: 20px;
  align-items: center;

}

.box {
  margin: 0px 16px;
  width: clamp(250px, 33%, 400px);
  border: 3px solid black;
  border-radius: 1rem;
  padding: 2rem 2rem;
}

.box>ul>li {
  list-style: none;
  font-weight: bold;
  margin: 16px;


}

.top {

  margin-top: 24px;
}

.btn {
  color: white;
  height: 32px;
  width: 100px;
  font-weight: bolder;
  background-color: blue;
  border-radius: 5px;
  border: none;
  padding: 3px 10px;
  cursor: pointer;
}

.font-big {
  font-size: 24px;
}

@media screen and (max-width:756px) {
  ul.nav-links {
    display: none;

  }

  .hidden {
    display: inline-block;

  }


  i.material-icons {
    display: inline-block;
    margin: 0px 12px;
    font-size: 2rem;
  }

  .box {
    margin: 12px 0px;
    width: 60%;
  }


  .boxes {
    flex-direction: column;
  }

  .top-left {
    flex-direction: column;
  }

}